body {
    margin: 0;
}

.desktop-top {
    width: 100vw;
    background-color: black;
    color: white;
}

.desktop-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    height: 100vh;
    width: 15vw;
       
    background-color: #2A3647;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    margin-top: -15px;
}

.dflex {
    display: flex;
}

.right-side {
    width: 100vw;
    position: relative;
}

.test2 {
    background-color: lightcoral;
    color: green;
    width: 75vw;
    height: 100vh;
}
