
<body>
    <div class="big-card-Container">
        <h1 class="headlines">Call potential clients</h1>
        <p>Make the product presentation to prospective buyers</p>
        <div class="dflex align-center gap20">
           <p class="bold">Due date:</p>
           <p>05-08-2022</p>
        </div>
        <div  class=" dflex align-center gap20">
            <p class="bold">Priority:</p>
            <div class="prio-container dflex align-center">
                Urgent
                <img src="assets/img/priorityurgent.png">
            </div>
        </div>

    </div>
</body>