
<body>
    <div class="big-card-Container">
        <button class="big-card-close-button pointer" onclick="closeBigCard()"> <img src="assets/img/cross.png" alt=""></button>
        <h1 class="headlines">Call potential clients</h1>
        <p>Make the product presentation to prospective buyers</p>
        <div class="dflex align-center gap20">
           <p class="bold">Due date:</p>
           <p>05-08-2022</p>
        </div>

        <div  class=" dflex align-center gap20">
            <p class="bold">Priority:</p>
            <div class="prio-container dflex align-center pointer">
                Urgent
                <img src="assets/img/priorityurgent.png">
            </div>
        </div>

        <div  class="assigned-to-field">
            <p class="bold">Assigned To:</p>
            <div class="assigned-to-item">
                <div class="card-member">DS</div>
                Danny Simsek
            </div>

            <div class="assigned-to-item">
                <div class="card-member">DS</div>
                Danny Simsek
            </div>

            <div class="assigned-to-item">
                <div class="card-member">DS</div>
                Danny Simsek
            </div>

            <div class="assigned-to-item">
                <div class="card-member">DS</div>
                Danny Simsek
            </div>
        </div>
        
        <div class="big-card-button-container">
            <button class="pointer"><img src="assets/img/delete.png" alt=""></button>
            <button class="pointer"><img src="assets/img/pen.png" alt=""></button>
        </div>
    </div>
</body>