<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <div class="navbar">
        <div class="navbartop"><img src="../assets/img/joinlogobright.png" alt=""></div>
        <div class="navbarcenter">
            <a href="#summary">
                <div class="navbarbox">
                    <img class="nav-icon" src="../assets/img/summary.png" alt=""><span class="nav-text">Summary</span>
                </div>
            </a>
            <a href="#board">
                <div class="navbarbox">
                    <img class="nav-icon" src="../assets/img/board.png" alt=""><span class="nav-text">Board</span>
                </div>
            </a>
            <a href="#add_task">
                <div class="navbarbox">
                    <img class="nav-icon" src="../assets/img/task.png" alt=""><span class="nav-text">Add Task</span>
                </div>
            </a>
            <a href="#contacts">
                <div class="navbarbox">
                    <img class="nav-icon" src="../assets/img/contacts.png" alt=""><span class="nav-text">Contacts</span>
                </div>
            </a>
        </div>
        <div class="navbarbottom">
            <a href="#notice"><img class="navbottom-icon" src="../assets/img/info.png" alt=""><span
                    class="nav-text">Legal Notice</span></a>
        </div>
    </div>
</body>