
<body>
    <div class="navbar">
        <div class="navbartop"><img src="assets/img/joinlogobright.png" alt=""></div>
        <div class="navbarcenter">
            <a href="summary.html">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/summary.png" alt=""><span class="nav-text">Summary</span>
                </div>
            </a>
            <a href="board.html">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/board.png" alt=""><span class="nav-text">Board</span>
                </div>
            </a>
            <a href="add_task.html">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/task.png" alt=""><span class="nav-text">Add Task</span>
                </div>
            </a>
            <a href="contacts.html">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/contacts.png" alt=""><span class="nav-text">Contacts</span>
                </div>
            </a>
        </div>
        <div class="navbarbottom">
            <a href="#notice"><img class="navbottom-icon" src="assets/img/info.png" alt=""><span
                    class="nav-text">Legal Notice</span></a>
        </div>
    </div>
</body>