<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="desktop-top  pos-fixed-desktop">
        <div class="desktop-kanban">Kanban Project Management Tool</div>
        <div class="desktop-loginpic">
            <img src="assets/img/logodark.png" alt="" class="desktop-logo">
            <a href="#" onclick="addUrlVariable('help.html')"><img class="desktop-questionmark" src="assets/img/questionmarkHeader.svg"></a>
            <img onclick="openLogout()" class="desktop-pic" src="assets/img/loginpicture.svg">
            <img onclick="logout()" id="logout-btn" class="logout-btn dnone" src="assets/img/LogOut.svg" alt="logout">
        </div>
    </div>
    <script src="../../js/register.js"></script>
</body>