<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="desktop-top">
        <div class="desktop-kanban">Kanban Project Management Tool</div>
        <div class="desktop-loginpic">
            <img src="assets/img/logodark.png" alt="" class="desktop-logo">
            <img class="desktop-questionmark" src="assets/img/questionmarkHeader.svg">
            <button type="submit" class="login-btn add-task-btn" id="addTaskButton_mobile" onclick="addTaskFromAddTaskSite()">Create <img src="assets/img/check.png" alt=""></button>
        </div>
    </div>
    <script src="../../js/register.js"></script>
</body>