<body>
    <div class="navbar-mobile">
            <a href="#" id="summaryHTML" onclick="addUrlVariable('summary.html')">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/summary.png" alt=""><span class="nav-text">Summary</span>
                </div>
            </a>
            <a href="#" id="boardHTML" onclick="addUrlVariable('board.html')">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/board.png" alt=""><span class="nav-text">Board</span>
                </div>
            </a>
            <a href="#" id="addTaskHTML" onclick="openAddTaskSiteWithoutContact()">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/task.png" alt=""><span class="nav-text">Add Task</span>
                </div>
            </a>
            <a href="#" id="contactsHTML" onclick="addUrlVariable('contacts.html')">
                <div class="navbarbox">
                    <img class="nav-icon" src="assets/img/contacts.png" alt=""><span class="nav-text">Contacts</span>
                </div>
            </a>
    </div>
</body>